/* Grid styling*/

body {
    /* background: url('images/background.jpeg') center center no-repeat;*/
    background-color: #29252b;
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
}

div {
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    height: 300px;
    margin: auto;
    position: relative;
}

.grid-item {
    border: 2px solid black;
    width: 200px;
    height: 150px;

    text-align: center;
    font-size: 130px;
    color: #F1D2F0;
    background-color: #ac5fdb;
}

/* First page*/
.firstPageContainer {
    display: block;
    margin: auto;
    position: relative;
    border: 2px solid black;
    width: 600px;
    height: 450px;
}

/* Player's turn footer*/

.playerTurn {
    border:2px solid black;
    color: #F1D2F0;
    text-align: center;
    display: block;
    position: relative;
    width: 606px;
    height: 180px;
    margin: 200px auto 0px;
    font-size: 80px;
    line-height: 1px;
    padding: 0; /* reduces the space between the content, and the border, of the p element */
}

.playerTurn#page1 {
    margin-top: 46px;
}

/* Right, left containers */

.left-container, .right-container{
    border:2px solid black;
    display: block;
    color: #F1D2F0;
    text-align: left;
    font-size: 80px;
    width: 350px;
    margin-top: -660px;
    padding-top: 0;
    height: 670px;
}

.left-container#page1, .right-container#page1 {
    margin-top: -660px;
}

ul {
    list-style-type: none;
}

.left-container {
    float: left;
}

.right-container {
    float: right;
}

li#second-line  {
    padding-left: 50px;
}

li#third-line {
    padding-left: 100px;
}

/* Buttons */
button {
    display: block;
    text-align: center;
    background-color: #ac5fdb;
    color: #F1D2F0;
    border-radius: 15px 15px;
}

/* First page buttons*/
button#firstPage {
    width: 250px;
    height: 90px;
    font-size: 50px;
    margin:20px auto;
}

/* Second page buttons */
button#start-over, button#play-again{
    width: 300px;
    height: 120px;
    font-size: 50px;
    margin-left: 25px;
}

/* Third page tags*/

a {
    color:#F1D2F0;
    text-decoration: underline;
}

a:hover {
    color: #ac5fdb;
}

a:visited {
    text-decoration-color: #ac5fdb;
}

a#backToMenu {
    font-size: 30px;
    margin-left: 25px;
}

a#rules {
    float: right;
    margin-top: -42px;
    margin-right: 100px;
    font-size: 20px;
}

/* Text styling*/
p, h1{
    font-size: 50px;
    color: #F1D2F0;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 50px;
}

.thirdPage p{
    font-size: 20px;
}

.firstPageContainer p{
    margin-top: -20px;
}

.playerTurn p{
    font-size: 80px;
}

label {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 40px;
}

select {
    font-size: 35px;
    border: none;
    outline: none;
    background-color: #29252b;
    color: #F1D2F0;
}

