
/* Default css*/
body {
    /* background: url('images/background.jpeg') center center no-repeat;*/
    background-color: #29252b;
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 4vw;
}

div.secondPage, div.firstPage {
    margin-left: 0.5em;
    width: 99%;
}

/* Table */
.column {
    float: left;
    width: 23vw;
    margin-top: 2%;
}

table.column, div#firstPageContainer{
    border: 2px solid black;
    margin-top: 1%;
    width: 39vw;
    height: 66vh;
    margin-left: 4vw;
    margin-right: 4vw;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

table{
    table-layout:fixed;
    display: table;
    border-collapse: collapse;
}
  
td {
    width: 33.333%;
    height: 33.333%;
    border: 2px solid black;
    font-size: 7vw;
    text-align: center;
    color: #F1D2F0;
    background-color: #ac5fdb;
}
  
td::after {
    display: block;
    margin-top: 100%;
}

div#firstPageContainer {
    display: grid;
}

/* Player's turn footer*/
form#playerTurn {
    border:2px solid black;
    color: #F1D2F0;
    text-align: center;
    display: flex;
    position: relative;
    width: 39vw;
    height: 22vh;
    margin-left: 27.5vw;
    margin-top: -20vh;
    line-height: 1px;
}


/* Right, left containers */

#left-container, #right-container{
    border:2px solid black;
    color: #F1D2F0;
    text-align: left;
    width: 24%;
    height: 90vh;
}

ul {
    list-style-type: none;
}

ul {
    padding-left: 4vw;
}
li#secondLine  {
    margin-left: 3vw;
}

li#thirdLine {
    margin-left: 6vw;
}

/* ------ Buttons ------ */
button {
    display: block;
    text-align: center;
    background-color: #ac5fdb;
    color: #F1D2F0;
    border-radius: 15px 15px;
    font-size: 2.2vw;
}

/* First page buttons*/
.firstPage button{
    width: 25vw;
    height: 12vh;
    margin:3% auto;
}

/* Second page buttons */
button#startOver, button#playAgain{
    height: 12vh;
    width: 20vw;
    margin: 8vh auto;
}

button#startOver{
    margin-top: 22vh;
}

/* Third page tags*/

a {
    color:#F1D2F0;
    text-decoration: underline;
}

a:hover {
    color: #ac5fdb;
}

a:visited {
    text-decoration-color: #ac5fdb;
}

a#backToGame {
    margin-left: 42vw;
}

a#rules {
    display: block;
    margin: 4vh 4% 1vh 12%;
    font-size: 3vw;
}


/* Text styling*/
p, h1{
    color: #F1D2F0;
    text-align: center;
}

p#chooseGameMode {
    font-size: 3.5vw;
}

p#gameMode {
    margin-bottom: -1vh;
    margin-top: 0px;
}

h3 {
    margin-left: 1vw;
    margin-top: 1vh;
}

#firstPageContainer p{
    margin-top: 3%;
    margin-bottom: 1%;
}

.thirdPage{
    font-size: 2.5vw;
}

#displayPlayersTurn{
    margin:auto;
    text-align: center;
}

label {
    margin-left: 0.5vw;
    margin-bottom: 1vh;
}

select {
    border: none;
    outline: none;
    background-color: #29252b;
    color: #F1D2F0;
}

#startWith, label#chooseStarter {
    font-size: 3vw;
}

label#chooseStarter {
    margin-left: 2vw;
}

@media screen and (max-width: 600px){
    table.column, div#firstPageContainer{
        margin-left: 3vw;
        margin-right: 3vw;
    }
      
    form#playerTurn {
        margin-left: 26.5vw;
    }

}

@media screen and (min-width: 1250px){
    #left-container, #right-container, table.column, div#firstPageContainer, form#playerTurn {
        border: 3px solid black;
    }
}

@media screen and (min-width: 1600px){
    #left-container, #right-container, table.column, div#firstPageContainer, form#playerTurn{
        border: 4px solid black;
    }
}
